{% extends "network/layout.html" %} {% load static %} {% block body %}
<div id="title">
  <h1>Hi {{ request.user.username }}</h1>
</div>
<div id="compose-view">
  <form id="compose-form">
    <div class="form-group">
      New Post
      <textarea
        class="form-control"
        id="compose-body"
        placeholder="Create a New Post"
      ></textarea>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary" />
    </div>
  </form>
</div>
<div class="posts-view">ALL POSTS</div>
{% endblock %} {% block script %}
<script src="{% static 'network/index.js' %}"></script>
{% endblock %}
