{% extends "network/layout.html" %} {% load static %} {% block body %}

<div id="title">
  <h1 class="mt-4">{{ request.user.username }}</h1>
  <h3>All Posts</h3>
</div>

<!-- New Post Form -->
{% if user.is_authenticated %}
<div id="compose-view" class="card p-2 mb-4">
  <form id="compose-form" method="post" action="{% url 'compose' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="compose-body">New Post</label>
      <textarea
        class="form-control"
        id="compose-body"
        name="compose-body"
        placeholder="Create a New Post"
      ></textarea>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary btn-sm" value="Post" />
    </div>
  </form>
</div>
{% endif %}

<!-- Show All Posts -->
<div id="posts-view">
  <div id="all-posts">
    {% for post in page_obj %}
    <div class="row post card p-2">
      <h3>
        <a href="{% url 'profile' user_id=post.user.id%}">{{post.user}}</a>
      </h3>
      <p id="content_{{ post.id }}">{{ post.content }}</p>
      <p class="text-secondary lh-1 small">{{ post.timestamp }}</p>
      {% if user.is_authenticated %} {% if user == post.user %}
      <div>
        <button
          class="btn btn-primary btn-sm"
          data-toggle="modal"
          data-target="#modal_edit_{{ post.id }}"
        >
          Edit
        </button>
      </div>
      <p class="mt-2">
        <span class="like_count">Likes: {{ post.like }} </span>
        {% if post.like == 1 %} like {% else %} likes {% endif %}
      </p>
      <div
        class="modal fade"
        tabindex="-1"
        role="dialog"
        id="modal_edit_{{ post.id }}"
        aria-labelledby="modal_edit_{{ post.id }}_label"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Post</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                aria-hidden="true"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {% csrf_token %}
              <textarea
                name="content"
                id="textarea_{{ post.id }}"
                cols="30"
                rows="6"
                class="p-2 form-control"
              >
{{ post.content }}</textarea
              >
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-primary"
                onclick="submitHandler('{{ post.id }}')"
              >
                Submit changes
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      {% else %} {% if post.id in postsLiked %}
      <button
        id="{{ post.id }}"
        class="btn col-1 fa fa-heart"
        style="color: red"
        onclick="likeHandler('{{ post.id }}', '{{ postsLiked }}', '{{likeCount}}')"
      ></button>
      <p>
        <span class="like_count">Likes: {{ post.like }} </span>
        {% if post.like == 1 %} like {% else %} likes {% endif %}
      </p>
      {% else %}

      <button
        id="{{ post.id }}"
        class="btn col-1 fa fa-heart-o"
        style="color: red"
        onclick="likeHandler('{{ post.id }}', '{{ postsLiked }}')"
      ></button>

      <p>
        <span class="like_count">Likes: {{ post.like }} </span>
        {% if post.like == 1 %} like {% else %} likes {% endif %}
      </p>
      {% endif %} {% endif %} {% endif %}
    </div>
    {% endfor %}
  </div>

  <!-- Nav for pagination -->
  <nav aria-label="All Posts navigation">
    {% if page_obj.has_other_pages %}
    <ul class="pagination mt-2">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
          >Previous</a
        >
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
      {% endif %} {{""}} {% for page_number in page_obj.paginator.page_range%}
      {{""}} {% if page_obj.number == page_number %}
      <li class="active page-item">
        <span class="page-link"
          >{{ page_number }} <span class="sr-only">(current)</span></span
        >
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_number }}"
          >{{ page_number }}</a
        >
      </li>
      {% endif %} {% endfor %} {% if page_obj.has_next %}

      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}"
          >Next</a
        >
      </li>
      {% else %}
      <li class="disabled page-item"><span class="page-link">Next</span></li>
      {% endif %}
    </ul>
    {% endif %}
  </nav>
</div>
{% endblock %} {% block script %}
<script src="{% static 'network/index.js' %}"></script>
{% endblock %}
