{% extends "network/layout.html" %} {% load static %} {% block body %}

<div id="title">
  <h1 class="mt-4 mb-2">{{ username }}'s Profile</h1>
</div>
<div>
  <p id="followersCount">Followers: {{ followers.count }}</p>
  <p id="followingCount">Following: {{ following.count }}</p>

  {% if username != user.username %}

  <!-- Display follow/unfollow button for other users -->
  <form action="{% url 'follow_unfollow' user_id=user.id %}" method="POST">
    {% csrf_token %} 
    {% if isFollowing %}
    <p>UNFOLLOW</p>
    <button
      id="followBtn"
      class="btn btn-primary mb-4 btn-sm"
      onclick="console.log("unfollow"))"
    >
      Unfollow
    </button>
    {% else %}
    <p>FOLLOW</p>
    <button
      id="followBtn"
      class="btn btn-primary mb-4 btn-sm"
      onclick="console.log("follow"))"
    >
      Follow
    </button>
    {% endif %}
  
    {% if isFollowing %}
    <button
      id="followBtn"
      class="btn btn-primary mb-4 btn-sm"
      onclick="console.log("follow"))"
    >
      Follow
    </button>
    {% endif %}
  </form>
  {% endif %}
</div>
<!-- Show All Posts -->
<div id="posts-view">
  <div id="all-posts">
    {% for post in page_obj %}
    <div class="card p-2">
      <h3>
        <a href="{% url 'profile' user_id=post.author.id%}">{{post.user}}</a>
      </h3>
      <p><i class="lh-1"></i>{{ post.content }}</p>
      <p class="text-secondary lh-1 small">{{ post.timestamp }}</p>
      <p>
        <span class="like_count" id="like_count_{{post.id}}"
          >Likes: {{ post.like }}
        </span>
      </p>
    </div>
    {% empty %}
    <h3>No posts available</h3>
    {% endfor %}
  </div>

  <!-- Nav for pagination -->
  <nav aria-label="All Posts navigation">
    {% if page_obj.has_other_pages %}
    <ul class="pagination mt-2">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
          >Previous</a
        >
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
      {% endif %} {{""}} {% for page_number in page_obj.paginator.page_range%}
      {{""}} {% if page_obj.number == page_number %}
      <li class="active page-item">
        <span class="page-link"
          >{{ page_number }} <span class="sr-only">(current)</span></span
        >
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_number }}"
          >{{ page_number }}</a
        >
      </li>
      {% endif %} {% endfor %} {% if page_obj.has_next %}

      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}"
          >Next</a
        >
      </li>
      {% else %}
      <li class="disabled page-item"><span class="page-link">Next</span></li>
      {% endif %}
    </ul>
    {% endif %}
  </nav>
</div>

{% endblock %} {% block script %}

<script src="{% static 'network/index.js' %}"></script>
{% endblock %}
