{% extends "network/layout.html" %} {% load static %} {% block body %}

<div id="title">
  <h1 class="mt-4 mb-2">{{ username }}'s Profile</h1>
</div>

<div>
  {% if user != request.user %}
  <button id="followBtn" onclick="followUnfollow('{{ user.id }}')">
    {% if request.user in user.followers.all %} Unfollow {% else %} Follow
    {%endif %}
  </button>
  {% endif %}

  <p id="followingCount">Following: {{ user.following.count }}</p>
  <p id="followersCount">Followers: {{ user.followers.count }}</p>
</div>

<!-- Show All Posts -->
<div id="posts-view">
  <div id="all-posts">
    {% for post in page_obj %}
    <div class="card p-2">
      <h3>
        <a href="{% url 'profile' user_id=post.user.id%}">{{post.user}}</a>
      </h3>
      <p><i class="lh-1"></i>{{ post.content }}</p>
      <p class="text-secondary lh-1 small">{{ post.timestamp }}</p>
      <p>
        <span class="like_count">Likes: {{ post.like }} </span>
        {% if post.like == 1 %} like {% else %} likes {% endif %}
      </p>
    </div>
    {% empty %}
    <h3>No posts available</h3>
    {% endfor %}
  </div>

  <!-- Nav for pagination -->
  <nav aria-label="All Posts navigation">
    {% if page_obj.has_other_pages %}
    <ul class="pagination mt-2">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
          >Previous</a
        >
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
      {% endif %} {{""}} {% for page_number in page_obj.paginator.page_range%}
      {{""}} {% if page_obj.number == page_number %}
      <li class="active page-item">
        <span class="page-link"
          >{{ page_number }} <span class="sr-only">(current)</span></span
        >
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_number }}"
          >{{ page_number }}</a
        >
      </li>
      {% endif %} {% endfor %} {% if page_obj.has_next %}

      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}"
          >Next</a
        >
      </li>
      {% else %}
      <li class="disabled page-item"><span class="page-link">Next</span></li>
      {% endif %}
    </ul>
    {% endif %}
  </nav>
</div>

{% endblock %} {% block script %}
<script src="{% static 'network/index.js' %}"></script>
{% endblock %}
